{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <title>Risk Calculation System</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'risk/style.css' %}" />
  </head>
  <body>
    <div class="sidenav">
      <a href="/risk/portfolio/">Portfolio</a>
      <a href="/risk/option/">Option</a>
    </div>

    <div class="main">
      {% if version == "portfolio" %}
      <div class="risk-title">Portfolio</div>
      <div class="risk-subtitle">Portfolio VaR and ES Calculation...</div>
      <div class="risk-data">
        {% if portfolioForm %}
        <form action="/risk/portfolio/" method="post">
          {% csrf_token %}
          <table class='risk-table'>
            {{ portfolioForm }}
          </table>
          <button type="submit" class="btn btn-outline-primary btn-lg btn-block btn-cal">Calculate</button>
        </form>
        {% endif %}
      </div>
      {% endif %}
      {% if version == "option" %}
      <div class="risk-title">Option</div>
      <div class="risk-subtitle">Option VaR and ES Calculation...</div>
      <div class="risk-data">
        {% if optionForm %}
        <form action="/risk/option/" method="post">
          {% csrf_token %}
          <table class='risk-table'>
            {{ optionForm }}
          </table>
          <button type="submit" class="btn btn-outline-primary btn-lg btn-block btn-cal">Calculate</button>
        </form>
        {% endif %}
      </div>
      {% endif %}

      {% if plotValue %}
      <div id="plot-container">
        <div id="plot"></div>
        <a id="download-link" download="data.csv" href=# class="btn btn-outline-primary btn-lg btn-block btn-cal">Download Data</a>
      </div>
      {% endif %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
      {% if portfolioForm or optionForm %}
      $.fn.datepicker.defaults.format = "yyyy-mm-dd";
      $.fn.datepicker.defaults.endDate = "-1d";
      $('#id_startDate').datepicker();
      $('#id_endDate').datepicker();
      $('.errorlist').addClass("alert alert-danger");

      $('#id_plotType_0').on('change', function() {
        //Portfolio Value
        $(".risk-table :input").prop("disabled", false);
        $('#id_rollingWindow').prop('disabled', true);
        $('#id_varp').prop('disabled', true);
        $('#id_esp').prop('disabled', true);
        $('#id_nday').prop('disabled', true);
        $('#id_method').prop('disabled', true);
      });
      $('#id_plotType_1').on('change', function() {
        //VaR
        $(".risk-table :input").prop("disabled", false);
        $('#id_esp').prop('disabled', true);
      });
      $('#id_plotType_2').on('change', function() {
        //ES
        $(".risk-table :input").prop("disabled", false);
        $('#id_varp').prop('disabled', true);
      });
      {% endif %}

      {% if plotValue %}
        function JSONtoCSV(obj) {
          var x = obj['x'];
          var y = obj['y'];
          var ret = "Date%2CValue%0A";
          for (i = 0; i < x.length; i++) {
            ret = ret+x[i]+"%2C";
            if (i < y.length)
              ret = ret+y[i]+"%0A";
            else
              ret = ret+"NA%0A";
          }
          return ret;
        }

        var plotData = jQuery.parseJSON('{{ plotValue|safe }}');
        var data = [
          {
            x: plotData['x'],
            y: plotData['y'],
            type: 'scatter',
            name: '{{ title }}',
          }
        ];
        var layout = {
          title: '{{ title }}'+" Chart",
          xaxis: {
            title: 'Date',
            rangeslider: {}
          },
          yaxis: {
            title: '{{ title }}'
          },
          showlegend: true
        }
        Plotly.newPlot('plot', data, layout);
        $('#download-link').attr('href',"data:application/octet-stream,"+JSONtoCSV(plotData));
      {% endif %}
    </script>
  </body>
</html>